body {
    font-family: "DM SANS", sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.breadcrumb-wrapper {
    background-color: #eaf4e7; /* nền xanh nhạt */
    padding: 10px 20px;
    margin-bottom: 12px;
  }
  
  .breadcrumb {
    background-color: #e6f2e6 ;
    font-size: 16px;
    color: #333;
  }
  
  .breadcrumb a {
    color: #111;
    text-decoration: none;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
    color: green;
  }

h1 {
    color: #1a5276;
    text-align: center;
    margin-bottom: 30px;
}
.date {
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}
.event-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
    color: #1a5276;
}
.content {
    margin-bottom: 30px;
}
.info-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}
.info-section h2 {
    color: #1a5276;
    margin-top: 0;
}
ul {
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}
.highlight {
    font-weight: bold;
}
.image-container {
  text-align: center;
  margin-top: 30px;
}
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.related-news {
  max-width: 1100px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
}

.related-news h2 {
  color: green;
  border-bottom: 2px solid green;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-more {
  font-size: 14px;
  text-decoration: none;
  color: green;
}

.carousel-container {
  position: relative;
  margin-top: 20px;
}

.news-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 40px;
}

.news-item {
  flex: 0 0 250px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
  box-sizing: border-box;
}

.news-item img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.news-item:hover {
  transform: scale(1.2); 
 }

.news-title {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.news-title:hover {
  color: #0a7c2f;
  transform: scale(1.05); 
}

.date {
  font-size: 12px;
  color: #777;
  margin-top: 4px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #0a7c2f;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 14px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.8;
}

.nav:hover {
  opacity: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.news-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 40px;
  scrollbar-width: none; /* Firefox */
}

.news-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}